{% extends 'base.html' %}
{% block title %}Pets{% endblock %}

{% block content %}
<h1>Pet Adoption</h1>

<h2>Pets Available:</h2>
<table>
    <thead>
        <th>Name</th>
        <th>Species</th>
        <th>Age</th>
        <th>Notes</th>
        <th>Available</th>
        <th>Photo</th>
    </thead>
    {% for pet in pets %}
    <tbody>
        
        <td><a href="/{{pet.id}}">{{pet.name}}</a></td>
        <td>{{pet.species}}</td>
        <td>{{pet.age}}</td>
        <td>{{pet.notes}}</td>
            {% if pet.available %}
            <td>{{Available}}</td>
            {% else %}
            <td>{{Unavailable}}</td>
            {% endif %}
            {% if pet.photo_url %}
        <td><img src="{{pet.photo_url}}" width="50" height="50" alt=" "></td>
        {% else %}
        <td><img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/325/dog-face_1f436.png" width="50" height="50" alt=" "></td>
        {% endif %}
        
    </tbody>
    {% endfor %}
</table>
<a href="/pets/new" class="btn btn-success">Add Pet</a>
{% endblock %}