{% extends 'base.html' %}
{% block title %}Pets{% endblock %}

{% block content %}
<h1>Pet Adoption</h1>

<h2>Pets Available:</h2>
<table>
    <thead>
        <th>Name</th>
        <th>Species</th>
        <th>Age</th>
        <th>Notes</th>
        <th>Available</th>
        <th>Photo</th>
    </thead>
    {% for pet in pets %}
    <tbody>
        
        <td>{{pet.name}}</td>
        <td>{{pet.species}}</td>
        <td>{{pet.age}}</td>
        <td>{{pet.notes}}</td>
            {% if pet.available %}
            <td>{{Available}}</td>
            {% else %}
            <td>{{Unavailable}}</td>
            {% endif %}
        <td>{{pet.photo_url}}</td>
    </tbody>
    {% endfor %}
</table>
<a href="/pets/new" class="btn btn-success">Add Pet</a>
{% endblock %}