{% extends 'base.html' %}
{% block title %}Pet Details{% endblock %}

{% block content %}
<h1>{{pet.name}}</h1>
<div>
    {% if pet.photo_url %}
    <img src="{{pet.photo_url}}" width="100" height="100" alt="No Image">
    {% endif %}
</div>
<div>
    <p>Species: {{pet.species}}</p>
    <p>Notes: {{pet.notes}}</p>
    <p>Age: {{pet.age}}</p>
</div>


<h2>Update Pet</h2>
<form method="POST">
    {{form.hidden_tag()}}
    {% for field in form if field.widget.input_type != 'hidden' %}
    <div>
    {{field.label}}
    {{field}}
    </div>
    {% endfor %}
    <button class = "btn btn-success">Save</button>
    <a href="/" class = "btn btn-danger">Back</a>
</form>
{% endblock %}